<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Image Colour Palette Generator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

    <!--    Font Awesome-->
    <script src="https://kit.fontawesome.com/ae846c5924.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-md-10 mx-auto some-margin">

                <h1 class="element-margin">Image Color Palette Generator</h1>
                <hr class="element-margin">

                {% if filename %}
                    <img src="{{ url_for('display_image', filename=filename) }}" class="image element-margin">
                {% else %}
                    <img src="{{ url_for('display_image', filename=filename) }}" class="image element-margin">
                {% endif %}
                <table class="table element-margin">
                    <thead>
                        <tr>
                            <th>Color</th>
                            <th>Color Hex Code</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for code in hex_codes %}
                            <tr>
                                <td style="background-color:{{code}}"></td>
                                <td>{{code}}</td>
                                <td>{{percent[hex_codes.index(code)]}}%</td>
                            </tr>
                        {% endfor %}
                    </tbody>


                </table>

                <h2 class="element-margin">Select a file to upload</h2>
                <p class="element-margin">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </p>

                <form method="post" action="/{{filename}}" enctype="multipart/form-data" class="element-margin">
                    <dl>
                        <p>
                            <input type="file" name="file" class="form-control" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </p>
                </form>

            </div>
        </div>
    </div>

</body>
</html>